// Base

body {
    color: #000;
}

// Header

header {
    font-family: "Shrikhand";
    background-color: #FFFFFF;
    width: 100%;
    height: 10%;

    .logo {
        color: #101010;
        text-align: center;
        font-size: 30px;
        line-height: 43.74px;
        font-style: italic;
    }
}

// variables
$light-gray: #f6f6f6;
$grey: #EAEAEA;
$grey_2: #353535;

a {
    text-decoration: none;
    color: inherit;
}

.location {
    display: flex;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    width: 100%;
    border-top: 0.5px solid #353535;
    color: $grey_2;
    background-color: $grey;
    justify-content: center;

    i.locate.fas.fa-map-marker-alt {
        padding-top: 22px;
        padding-right: 10px;
    }
}


/* Section Title */
.headline {
    position: relative;
    padding-top: 1px;
    background: var(--Background, #F6F6F6);
    width: 100%;
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    h2 {
        font-weight: bolder;
        font-size: 24px;
        font-style: normal;
    }

    .sub-title {
        font-size: 18px;
        font-weight: bold;
        color: #353535;
        text-align: center;
    }

    .button-research {
        color: var(--White, #fff);
        margin: 76px;
        width: 222px;
        height: 50px;
        padding-left: 28px;
        padding-right: 28px;
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 500;
        line-height: 18.75px;
        border-radius: 41px;
        background: var(--Button-Gradient,
                linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%));
        /* Shadow/Button */
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    }

    a {
        color: #000;
        font-family: Roboto;
        font-size: 16px;
        padding-top: 23px;
        font-style: normal;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
    }


}

.banner img {
    width: 100%;
    object-fit: cover;
}

.title {
    width: 100%;
    height: auto;

    h3.title-restaurant {
        padding-left: 16px;

        .title-restaurant {
            color: var(--Black, #101010);
            font-family: Shrikhand;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

    }

    span.heart {
        padding-left: 234px;
    }


}


menu {
    padding: 2%;
    background-color: #F6F6F6;
}

.title-menu-section {
    color: #000;
    background-color: #F6F6F6;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    border-bottom: 2px solid #99E2D0;
    width: 40px;
}

section.entrees {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 12px;

    .card-plate {
        padding-left: 16px;
        margin-bottom: 10px;
        border-radius: 15.043px;
        background: var(--White, #FFF);
        box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);

        h3.card-title {
            padding-left: 15px;
        }

        h3.title-restaurant {
            margin-left: 19px;
        }

    }

    .content-box {
        padding: 10px;
    }

    .card-plate .price {
        margin-left: 320px;
        text-align: right;
        margin-right: 37px;
        margin-bottom: 20px;
    }
}

section.plats {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 12px;

    .card-plate {
        padding-left: 16px;
        margin-bottom: 10px;
        border-radius: 15.043px;
        background: var(--White, #FFF);
        box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);

        h3,
        p {
            margin: 13px;
        }

    }

    .card-plate .price {
        margin-left: 320px;
        text-align: right;
        margin-right: 37px;
        margin-bottom: 20px;
    }
}

section.desserts {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 12px;

    .card-plate {
        padding-left: 16px;
        margin-bottom: 10px;
        border-radius: 15.043px;
        background: var(--White, #FFF);
        box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);

        h3,
        p {
            margin: 13px;
        }

    }

    .card-plate .price {
        margin-left: 320px;
        text-align: right;
        margin-right: 37px;
        margin-bottom: 20px;
    }
}

button.commander {
    margin: auto;
    display: flex;
    color: #FFF;
    font-family: 'Roboto';
    padding-left: 47px;
    align-content: center;
    font-size: 16px;
    text-align: center;
    width: 186px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 25px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);

}

.fonctionnement {
    padding: 20px;

    .box {
        width: 100%;
        margin-bottom: 20px;
    }

    .element {
        position: relative;

        .circle {
            background-color: violet;
            position: absolute;
            left: -13px;
            top: 14px;
            padding: 5px 10px;
            border-radius: 50px;
        }
    }

    h2 {
        margin-right: 199px;
    }

    .selection {
        width: 100%;
        border-radius: 20px;
        background: #f6f6f6;
        /* Shadow/Instructions */
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

        i {
            margin-right: 10px;
        }
    }

    a {
        color: #000;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
    }
}


.restaurants {
    background-color: #F6F6F6;
    width: 100%;
    display: flex;
    flex-direction: column;

    h2 {
        color: #000;
        font-family: Roboto;
        margin-left: 15px;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .cards-container {
        padding: 15px;

        img {
            width: 100%;
            object-fit: cover;
            height: 231px;
            border-radius: 20px 20px 0 0;
        }

        .card {
            background-color: #fff;
            position: relative;
            width: 100%;
            margin-top: 20px;
            border-radius: 20px 20px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

            .badge {
                position: absolute;
                background-color: aquamarine;
                top: 15px;
                right: 15px;
                padding: 5px 10px;
            }

            .cards-texts {
                width: 100%;
                padding: 1px 21px 9px;
                line-height: 15px;


                .title-restaurant {
                    font-family: "Roboto", sans-serif;
                    font-size: 1.125rem;
                    font-weight: 700;
                    color: #000000;
                }

                p.citie-restaurant {
                    text-align: left;

                    i.fa-regular.fa-heart.fa-lg {
                        padding-left: 325px;
                    }
                }
            }


        }
    }
}

// Mixins

@mixin selectionChoise {
    width: 322.48px;
    height: 72.379px;
}

// Footer

footer {
    width: 100%;
    font-family: 'Roboto';
    font-size: 18px;
    flex-direction: column;
    background-color: #353535;
    color: #FFF;
    text-decoration: none;
    list-style-type: none;
}

h2.title-footer {
    font-family: "Shrikhand";
    font-size: 28px;
    padding: 10px;
}


ul {
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 16px;
}