// Base

body {
    margin: 4px;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

button {
    border: none;
}

// Loader

.section-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    animation: loader-fade-out 0.01s; // Appel de la fonction de la durée
    animation-delay: 3s; // durée de l'animation
    animation-fill-mode: both; // propriété qui évite la boucle de l'animation

    .loader {
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Shrikhand";
        background-color: #2980b9;
        display: flex;
        font-weight: 400;
        font-family: "Shrikhand";
    }

    .lettre {
        color: #484848;
        font-family: 'Shrikhand';
        font-style: italic;
        letter-spacing: 15px;
        margin-bottom: 150px;
        animation: flash 1.2s linear infinite;
        -webkit-animation: flash 2.5s timing-function delay iteration-count direction fill-mode;
    }

    .lettre:nth-child(1) {
        animation-delay: 0.1s;
    }

    .lettre:nth-child(2) {
        animation-delay: 0.2s;
    }

    .lettre:nth-child(3) {
        animation-delay: 0.3s;
    }

    .lettre:nth-child(4) {
        animation-delay: 0.4s;
    }

    .lettre:nth-child(5) {
        animation-delay: 0.5s;
    }

    .lettre:nth-child(6) {
        animation-delay: 0.6s;
    }

    .lettre:nth-child(7) {
        animation-delay: 0.7s;
    }

    .lettre:nth-child(8) {
        animation-delay: 0.8s;
    }
}

@keyframes loader-fade-out {
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes flash {
    0% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900;
    }

    90% {
        color: #484848;
        text-shadow: none;
    }

    100% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900;
    }
}

// Header

header {
    font-family: "Shrikhand";
    background-color: #FFFFFF;
    width: 100%;
    height: 10%;

    .logo {
        color: #101010;
        text-align: center;
        font-size: 30px;
        line-height: 43.74px;
        font-style: italic;
    }

    .content-box-arow {
        a {
            position: absolute;
            left: 15px;
        }
    }
}

// variables
$light-gray: #f6f6f6;
$grey: #EAEAEA;
$grey_2: #353535;

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.location {
    display: flex;
    text-align: center;

    font-family: 'Roboto';
    font-size: 16px;
    width: 100%;
    border-top: 0.5px solid #353535;
    color: $grey_2;
    background-color: $grey;
    justify-content: center;

    i.locate.fas.fa-map-marker-alt {
        padding-top: 22px;
        padding-right: 10px;
    }
}


/* Section Title */
.headline {
    width: 100%;
    height: 278px;
    padding-top: 1px;
    background: var(--Background, #F6F6F6);
    width: 100%;
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    h2 {
        padding: 0px 51px 0px 91px;
        text-wrap: wrap;
        margin-right: 61px;
        font-weight: bolder;
        font-size: 24px;
        font-style: normal;
    }

    .sub-title {
        position: relative;
        padding: 7px 0px 22px 80px;
        font-weight: 300;
        font-size: 18px;
        color: #353535;
        text-align: center;
    }

    .btn-2 {
        padding: 17px;
        color: var(--White, #fff);
        position: relative;
        margin-right: -15px;
        width: 222px;
        padding-left: 35px;
        padding-right: 18px;
        text-align: left;
        height: 35px;
        padding-left: 20px;
        padding-right: 22px;
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 500;
        line-height: 18.75px;
        border-radius: 41px;
        background: linear-gradient(193deg, #9356dc -11.4%, #ff79da 123.93%);
        /* Shadow/Button */
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
        transition: background 300ms, box-shadow 300ms;

        &:hover {
            cursor: pointer;
            background: linear-gradient(193deg, #c398f8 -11.4%, #f0d1e7 123.93%);
            /* Shadow/Button */
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 1.25);
            transition: background 300ms, box-shadow 300ms;
        }
    }

    a {
        color: #000;
        font-family: Roboto;
        font-size: 16px;
        padding-top: 23px;
        font-style: normal;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
    }


}

.banner img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

main.containerRestaurant {
    position: relative;
    background-color: #F6F6F6;
    width: 100%;
    height: 1410px;
    margin: auto;
    margin-top: 21px;
    padding-top: 1px;
    top: -54px;
    line-height: normal;
    border-radius: 40px 40px 0 0;

    .restaurantName h2 {
        color: var(--Black, #101010);
        font-family: "Shrikhand";
        font-size: 28px;
        position: relative;
        left: -91px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.heart-anim span.heart {
    position: absolute;
    bottom: 40px;
    right: 15px;
    transition-property: -webkit-transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 1000ms;
    transition-duration: 1000ms;
    font-size: 22px;

}


ul.cardsMenuList__content {
    list-style-type: none;
    padding: 24px;
}

h3.cardsMenuList__title {
    position: relative;
    margin-left: 22px;
    top: 26px;
    color: #000;
    background-color: #F6F6F6;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    width: 40px;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40px;
        bottom: -6px;
        height: 1px;
        background: #99E2D0;
    }

}

// Apparition progressive

.cardsMenuList {
    opacity: 0;
    animation: appear 3s;
    animation-fill-mode: both;
}

.cardsMenuList.entrees {
    animation-delay: 1s;
}

.cardsMenuList.plats {
    animation-delay: 2s;
}

.cardsMenuList.desserts {
    animation-delay: 3s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.heart-anim span.heart {
    position: absolute;
    bottom: 40px;
    right: 15px;
    transition-property: -webkit-transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 1000ms;
    transition-duration: 1000ms;
    font-size: 22px;
}

.heart-anim {

    &:hover {
        .anim {
            animation: anim-heart 500ms; // apparition progressive du coeur avec le keyframes
            animation-fill-mode: both;
        }

    }

    span.heart {
        position: absolute;
        top: 30px;
        right: 122px;
        transition-property: transform;
        transition-duration: 1000ms;
        font-size: 22px;
    }

    span.anim {
        opacity: 0; // Invisible à l'état initial
        background: var(--Button-Gradient, linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%)); // Couleur dégradé
        -webkit-text-fill-color: transparent; // Permet de rendre transparent le coeur plein
        background-clip: text; // Permet de prendre la forme de l'icône
        -webkit-background-clip: text;
    }
}

@keyframes anim-heart {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.restaurantName {
    color: #101010;
    font-family: 'Shrikhand';
    font-size: 28px;
    text-align: center;
    margin-left: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title-menu-section {
    padding-bottom: 5px;
    color: #000;
    left: 10px;
    background-color: #F6F6F6;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    border-bottom: 2px solid #99E2D0;
    width: 40px;

    i.fa-regular.fa-heart.fa-lg {
        position: absolute;
        right: 20px;
        top: 54px;
    }

}


.cardsMenuList {
    display: block;
    max-width: 67%;
    padding-bottom: 0px;
    padding-right: 93px;

    .card-plate {
        width: 124%;
        overflow: hidden;
        position: relative;
        margin: 11px;
        margin-bottom: 23px;
        line-height: normal;
        border-radius: 15px;
        background: #FFF;
        -webkit-box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
    }

    ul.cardsMenuList__title {
        list-style-type: none;
    }

    .card-plate {
        width: 140%;
        overflow: hidden;
        position: relative;
        left: -17px;
        margin-bottom: 34px;
        line-height: normal;
        border-radius: 15px;
        background: #FFF;
        box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);

        .descriptionPlat {
            padding: 15px;
        }

        h3 {
            margin: 0;
        }

        p {
            font-size: 15px;
            margin-bottom: 0px;
            margin-top: 5px;
        }

        .btn {
            padding-right: 24px;
        }

        .price {
            position: absolute;
            padding-right: 24px;
            font-weight: bold;
            right: 5px;
            bottom: 21px;
        }

        .circle {
            position: absolute;
            top: 0;
            right: -60px;
            width: 60px;
            height: 100%;
            background: rgba(153, 226, 208, 1);
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;

            i {
                padding: 29px 22px;
                color: #fff;
            }
        }

        &:hover {
            .price {
                display: block;
                transform: translate(-70%, 0);
                transition: transform 300ms;
                -webkit-transform: translate(-70%, 0);
                -moz-transform: translate(-70%, 0);
                -ms-transform: translate(-70%, 0);
                -o-transform: translate(-70%, 0);
                -webkit-transition: transform 300ms;
                -moz-transition: transform 300ms;
                -ms-transition: transform 300ms;
                -o-transition: transform 300ms;
            }

            .circle {
                animation: slide 300ms;
                animation-fill-mode: both;
            }

            h3,
            p {
                width: 70%; // On réduit la taille du texte
                text-wrap: nowrap; // On coupe le retour à la ligne
                overflow: hidden; // On cache ce qui sort de la largeur
                text-overflow: ellipsis; // On ajoute les pointillés
            }
        }
    }
}

@keyframes slide {
    0% {
        right: -60px;
    }

    100% {
        right: 0;
    }
}

.card-plate {
    margin-top: 20px;
    gap: 12px;

    ul {
        padding: 2px;
        display: inline;
        list-style: none;


        li.listPlats {
            width: auto;
            list-style-type: none;
            flex-direction: column;
            gap: 10px;

        }
    }
}

.btn {
    margin: auto;
    display: flex;
    color: #FFF;
    font-family: 'Roboto';
    padding-left: 47px;
    margin-top: 0px;
    margin-bottom: 129px;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    align-items: center;
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 25px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 1.35);


    &:hover {
        cursor: pointer;
        background: linear-gradient(0deg, rgba(233, 130, 130, 0.15) 0%, rgba(224, 217, 217, 0.712) 100%), linear-gradient(201deg, #ac74f1 -5.2%, #f461c8 110.74%);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    }

}

.fonctionnement {
    padding: 20px;

    .box {
        width: 100%;
        margin-bottom: 20px;
    }

    .element {
        position: relative;

        .circle {
            background-color: #9356DC;
            color: #fff;
            position: absolute;
            left: -13px;
            top: 14px;
            padding: 5px 10px;
            border-radius: 50px;
        }
    }

    h2 {
        margin-right: 199px;
    }

    .selection {
        width: 100%;
        border-radius: 20px;
        padding: 12px;
        background: #f6f6f6;
        /* Shadow/Instructions */
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

        i {
            margin-right: 10px;
        }

        &:hover {
            background: #F5EDFF;
        }
    }

    a {
        color: #000;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
    }
}

.title-menu-section {
    color: #000;
    // margin-top: -14px;
    background-color: #F6F6F6;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    border-bottom: 2px solid #99E2D0;

    i.fa-regular.fa-heart.fa-lg {
        position: absolute;
        right: 20px;
        top: 54px;
    }

}



.restaurants {
    background-color: #F6F6F6;
    width: 100%;
    display: flex;
    flex-direction: column;

    h2 {
        color: #000;
        font-family: Roboto;
        margin-left: 15px;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .cards-container {
        padding: 15px;

        img {
            width: 100%;
            object-fit: cover;
            height: 231px;
            border-radius: 20px 20px 0 0;
        }

        .card {
            background-color: #fff;
            position: relative;
            width: 100%;
            margin-top: 20px;
            border-radius: 20px 20px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

            .badge {
                position: absolute;
                background-color: #99E2D0;
                top: 15px;
                right: 15px;
                padding: 5px 10px;
            }

            .cards-texts {
                padding: 1px 21px 9px;
                line-height: 15px;


                .title-restaurant {
                    font-family: "Roboto", sans-serif;
                    font-size: 1.125rem;
                    font-weight: 700;
                    color: #000000;
                }

                p.citie-restaurant {
                    text-align: left;
                }

                .heart-anim span.heart {
                    right: 15px;
                    -webkit-transition-property: -webkit-transform;
                    transition-property: -webkit-transform;
                    transition-property: transform;
                    transition-property: transform, -webkit-transform;
                    -webkit-transition-duration: 1000ms;
                    transition-duration: 1000ms;
                    font-size: 22px;
                }

                .heart-anim span.heart {
                    position: absolute;
                    top: 260px;
                    -webkit-transition-property: -webkit-transform;
                    transition-property: -webkit-transform;
                    transition-property: transform;
                    transition-property: transform, -webkit-transform;
                    -webkit-transition-duration: 1000ms;
                    transition-duration: 1000ms;
                    font-size: 22px;

                    :hover {
                        opacity: 1; // Invisible à l'état initial
                        background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -5.2%, #ff79da 110.74%)); // Couleur dégradé
                        -webkit-text-fill-color: transparent; // Permet de rendre transparent le coeur plein
                        background-clip: text; // Permet de prendre la forme de l'icône
                        -webkit-background-clip: text;
                    }

                    span.anim {
                        opacity: 0; // Invisible à l'état initial
                        background: var(--Button-Gradient, linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%)); // Couleur dégradé
                        -webkit-text-fill-color: transparent; // Permet de rendre transparent le coeur plein
                        background-clip: text; // Permet de prendre la forme de l'icône
                        -webkit-background-clip: text;
                    }
                }

            }

            .heart-anim {
                &:hover {
                    .anim {
                        opacity: 1; // Le coeur plein apparait en hover
                    }

                    span.heart {
                        position: absolute;
                        bottom: 40px;
                        right: 15px;
                        transition-property: transform;
                        transition-duration: 1000ms;
                        font-size: 22px;
                    }
                }

                span.anim {
                    opacity: 0; // Invisible à l'état initial
                    background: var(--Button-Gradient, linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%)); // Couleur dégradé
                    -webkit-text-fill-color: transparent; // Permet de rendre transparent le coeur plein
                    background-clip: text; // Permet de prendre la forme de l'icône
                    -webkit-background-clip: text;
                }
            }



        }
    }
}

footer {
    list-style-type: none;
    background-color: #353535;
    color: #FFF;
    margin-top: -59px;
    padding: 10px 2px 13px 10px;
    background: #353535;

    .title-footer {
        font-family: "Shrikhand";
        position: relative;
        margin: 0;
        left: 0px;
    }

    ul {
        position: relative;
        list-style-type: none;
        text-align: start;
        left: -38px;
    }

}





@media screen and (min-width: 1024px) {

    header .logo {
        color: #101010;
        text-align: center;
        font-size: 37px;
        line-height: 43.74px;
        font-style: italic;
    }

    .banner img {
        width: 100%;
        height: 560px;
        object-fit: cover;
    }

    /* Section Title */
    .headline {
        position: relative;
        padding-top: 1px;
        background: var(--Background, #F6F6F6);
        width: 100%;
        color: #000;
        text-align: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        h2 {
            font-weight: bolder;
            font-size: 40px;
            font-style: normal;
        }

        .sub-title {
            font-size: 18px;
            font-weight: bold;
            color: #353535;
            text-align: center;
        }

        .btn-2 {
            color: var(--White, #fff);
            margin: 76px;
            width: 222px;
            text-align: center;
            padding: 16px;
            font-family: "Roboto";
            font-style: normal;
            font-size: 16px;
            font-size: 16px;
            font-weight: 500;
            line-height: 18.75px;
            border-radius: 41px;
            background: var(--Button-Gradient,
                    linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%));
            /* Shadow/Button */
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        }

        a {
            color: #000;
            font-family: 'Roboto';
            font-size: 16px;
            padding-top: 23px;
            font-style: normal;
            font-weight: 500;
            text-decoration: none;
            cursor: pointer;
            text-align: center;
        }


    }


    .heart-anim {
        &:hover {
            .anim {
                opacity: 1; // Le coeur plein apparait en hover
            }
        }

        span.heart {
            position: absolute;
            bottom: 40px;
            right: 15px;
            transition-property: transform;
            transition-duration: 1000ms;
            font-size: 22px;
        }

        span.anim {
            opacity: 0; // Invisible à l'état initial
            background: var(--Button-Gradient, linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%)); // Couleur dégradé
            -webkit-text-fill-color: transparent; // Permet de rendre transparent le coeur plein
            background-clip: text; // Permet de prendre la forme de l'icône
            -webkit-background-clip: text;
        }
    }


    .heart-anim span.heart {
        position: absolute;
        top: 30px;
        right: 471px;
        color: var(--Button-Gradient, linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%)); // Couleur dégradé
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        -webkit-transition-duration: 1000ms;
        transition-duration: 1000ms;
        font-size: 22px;
    }


    .fonctionnement {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        padding: 17px;

        .box {
            margin: auto;
            width: 100%;
            height: 73px;
        }

        .element {
            position: relative;

            .circle {
                background-color: #9356DC;
                color: #fff;
                position: absolute;
                left: -13px;
                top: 14px;
                padding: 5px 10px;
                border-radius: 50px;
            }
        }

    }

    main.containerRestaurant {
        position: relative;
        background-color: #F6F6F6;
        width: 65%;
        height: 1460px;
        margin: auto;
        padding-top: 1px;
        top: -40px;
        line-height: normal;
        border-radius: 30.043px 30.043px 0 0;
        -webkit-border-radius: 30.043px 30.043px 0 0;
        -moz-border-radius: 30.043px 30.043px 0 0;
        -ms-border-radius: 30.043px 30.043px 0 0;
        -o-border-radius: 30.043px 30.043px 0 0;


        .restaurantName h2 {
            position: relative;
            color: var(--Black, #101010);
            font-family: "Shrikhand";
            font-size: 28px;
            right: -3px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .heart-anim span.heart {
            position: absolute;
            top: 32px;
            left: 657px;
            transition-property: transform, -webkit-transform;
            transition-duration: 1000ms;
            font-size: 22px;

            :hover {
                opacity: 1; // Invisible à l'état initial
                background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -5.2%, #ff79da 110.74%)); // Couleur dégradé
                -webkit-text-fill-color: transparent; // Permet de rendre transparent le coeur plein
                background-clip: text; // Permet de prendre la forme de l'icône
                -webkit-background-clip: text;

                span.anim {
                    opacity: 0; // Invisible à l'état initial
                    background: var(--Button-Gradient, linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%)); // Couleur dégradé
                    -webkit-text-fill-color: transparent; // Permet de rendre transparent le coeur plein
                    background-clip: text; // Permet de prendre la forme de l'icône
                    -webkit-background-clip: text;
                }
            }
        }

        h3.cardsMenuList__title {
            position: relative;
            margin-left: 42px;
            top: 26px;
            color: #000;
            background-color: #F6F6F6;
            font-family: "Roboto";
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: uppercase;
            width: 40px;
        }


    }

    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        margin-bottom: 50px;

        .card .badge {
            position: absolute;
            background-color: aquamarine;
            top: 15px;
            right: 15px;
            padding: 5px 10px;
        }

        .cards-texts {
            margin: auto;
            font-family: 'Roboto';
            font-size: 18px;
            font-weight: 700;
            line-height: 21.09px;
            text-align: left;


            .heart-anim span.heart {
                position: absolute;
                top: 260px;
                -webkit-transition-property: -webkit-transform;
                transition-property: -webkit-transform;
                transition-property: transform;
                transition-property: transform, -webkit-transform;
                -webkit-transition-duration: 1000ms;
                transition-duration: 1000ms;
                font-size: 22px;

                :hover {
                    opacity: 1; // Invisible à l'état initial
                    background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -5.2%, #ff79da 110.74%)); // Couleur dégradé
                    -webkit-text-fill-color: transparent; // Permet de rendre transparent le coeur plein
                    background-clip: text; // Permet de prendre la forme de l'icône
                    -webkit-background-clip: text;
                }

                span.anim {
                    opacity: 0; // Invisible à l'état initial
                    background: var(--Button-Gradient, linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%)); // Couleur dégradé
                    -webkit-text-fill-color: transparent; // Permet de rendre transparent le coeur plein
                    background-clip: text; // Permet de prendre la forme de l'icône
                    -webkit-background-clip: text;
                }
            }
        }

        .btn {
            margin: auto;
            display: flex;
            color: #FFF;
            font-family: 'Roboto';
            padding-left: 47px;
            margin-top: 40px;
            margin-bottom: 129px;
            font-size: 17px;
            font-weight: 400;
            align-items: center;
            width: 150px;
            height: 50px;
            flex-shrink: 0;
            border-radius: 25px;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 1.35);


            &:hover {
                cursor: pointer;
                background: linear-gradient(0deg, rgba(233, 130, 130, 0.15) 0%, rgba(224, 217, 217, 0.712) 100%), linear-gradient(201deg, #ac74f1 -5.2%, #f461c8 110.74%);
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
            }

        }


    }

    .cardsMenuList .card-plate {
        width: 106%;
        overflow: hidden;
        position: relative;
        left: 16px;
        margin-bottom: 34px;
        line-height: normal;
        border-radius: 15px;
        background: #FFF;
        -webkit-box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
    }


    footer {
        position: relative;
        height: 90px;
        list-style-type: none;
        background-color: #353535;
        color: #FFF;
        top: 28px;
        padding: 27px 2px 3px 10px;
        display: flex;
        padding-right: 277px;
        flex-direction: row-reverse;

        .title-footer {
            padding-top: 7px;
            left: 54px;
        }

        & ul {
            display: flex;
            gap: 50px;
            position: relative;
            list-style-type: none;
            text-align: start;

            a:hover {
                cursor: pointer;
                text-decoration: none;
                color: inherit;
            }

            i.fa-solid.fa-handshake-angle {
                margin-right: 2px;
            }

            i.fa-solid.fa-utensils {
                margin-right: 2px;
            }
        }
    }


    i.far.fa-heart {
        -webkit-font-smoothing: antialiased;
        display: var(--fa-display, inline-block);
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
    }
}


.cardsMenuList {
    display: block;
    margin: auto;
    max-width: 60%;
    padding-bottom: 0px;

    &.cardsMenuList__title {
        color: #000;
        background-color: #F6F6F6;
        font-family: "Roboto";
        font-size: 16px;
        position: relative;
        margin-left: -10px;
        top: 26px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: uppercase;
        border-bottom: 1px solid #99E2D0;
        width: 40px;
    }

    ul {
        padding: 2px;
        display: inline;
        list-style: none;


        li.listPlats {
            width: auto;
            list-style-type: none;
            flex-direction: column;
            gap: 10px;

        }
    }

}