@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Manrope&family=Montserrat:ital@0;1&family=Oswald:wght@500&family=Roboto:wght@100&display=swap");

/****** General ***********/

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

 color: var(--Grey-2, #EAEAEA);

:root {
    --main-color: #9356dc;
    --main-bg-color: #f6f6f6;
    --filter-bg-color: #99e2d0;
}

.fa-solid {
    color: var(--main-color);
}

header {
    margin: auto;
    width: 100%;
    height: 440px;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    height: 36px;
    color: var(--Black, #101010);
    text-align: center;
    font-family: "Shrikhand";
    justify-content: center;
    align-items: center;
    padding: 3px 19px 7px 50px;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 17px;
    margin-top: 10px;
    line-height: normal;
}

main {
    flex-wrap: wrap;
    flex-direction: column;
}

.headline {
    background-color: #f6f6f6;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}

.location {
    background: var(--Grey-2, #eaeaea);
    width: 100%;
    height: 53px;
}

.location .locate {
    margin-left: 91px;
}

.location-title {
    color: var(--Grey, #353535);
    font-family: "Roboto";
    text-align: center;
    height: 68px;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

/* Section Title */

.section-title {
    color: #000;
    width: 275px;
    height: 68px;
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    flex-shrink: 0;
    top: 152px;
    margin-left: 42px;
    margin-right: 68px;
    font-weight: 700;
    text-align: center;
    line-height: 28.13px;
}

.headline {
    background-color: #f6f6f6;
}

p {
    color: var(--Grey, #353535);
    text-align: center;
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

#button-research {
    color: var(--White, #fff);
    margin: 60px;
    width: 218px;
    height: 50px;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    border-radius: 25px;
    background: var(
        --Button-Gradient,
        linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%)
    );
    /* Shadow/Button */
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.backGris {
    background-color: #f6f6f6;
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    width: 100%;
    height: 387px;
    padding-top: 0px;
    left: 20px;
}

.selection {
    flex-direction: column;
    width: 322.48px;
    height: 72.379px;
    border-radius: 20px;
    background: var(--Background, #f6f6f6);
    /* Shadow/Instructions */
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.selection-title {
    text-align: center;
    padding: 23px 52px;
    color: #000;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.restaurants .cards-container {
    display: flex;
    flex-direction: column;
}

.titleSection {
    margin-left: 20px;
    padding-top: 20px;
    font-family: "Roboto";
    font-size: 24px;
    line-height: normal;
}

.section-title {
    color: black;
    padding-top: 40px;
    text-align: center;
    margin-left: 47px;
    font-size: 24px;
    line-height: 28.13px;
}

.title-section {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 47px;
    padding-top: 47px;
    padding-right: 143px;
}

.sub-title {
    padding-top: 40px;
}
.card {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 293px;
    margin-top: 25px;
    margin-left: 20px;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

button:focus {
    color: #f5edff;
}

.card img {
    object-fit: cover;
    width: 335px;
    height: 231px;
}

.card-title {
    display: flex;
    justify-content: left;
    font-family: "Roboto";
    margin: 8px;
    font-size: 18px;
}

.card-subtitle {
    display: flex;
    font-family: "Roboto";
    margin: 1px;
    gap: 182px;
    font-weight: bold;
    font-size: 17px;
    padding-left: 9px;
}

.legende {
    width: auto;
    height: 73px;
}

.heart {
    display: flex;
    margin-inline-start: auto;
    padding-right: 10px;
}

a {
    display: contents;
    text-decoration: none;
}

.padLeft {
    padding-left: 1px;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-location {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 14px 0 0 14px;
}

.fa-map-marker-alt {
    font-size: 17px;
}

.filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filterTextIcons {
    border: 2px solid #f2f2f2;
    width: 166px;
    height: 44px;
    border-radius: 34px;
    margin-right: 8px;
    padding-top: 14px;
}

footer {
    height: 281px;
    margin-top: 45px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.pied-de-page {
    background-color: #353535;
    font-family: "Shrikhand";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    height: 197px;
}

.title-footer {
    font-family: "Shrikhand";
    width: auto;
    font-size: 26px;
    color: var(--White, #fff);
    padding-right: 10px;
    margin-left: 17px;
}

footer ul {
    margin: 19px;
}

li {
    color: var(--White, #fff);
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 2em;
    list-style-type: none;
}

a {
    font-size: 16px;
    color: #fff;
}

li:hover {
    color: #f5edff;
}
